
body{
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(212,128,185,1) 0%, rgba(157,76,212,1) 0%, rgba(171,204,242,1) 100%);
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators li {
  background-color: #868e96;
  cursor: pointer;
}
.carousel-indicators .active {
  background-color: #007bff;
}
.card-designs{
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(248,108,136,1) 94%) !important;
  font-family:cursive !important
}
